@font-face {
    font-family: "Psychedelia HM";
    src: url("Psychedelia HM.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

p {
    margin: auto 0;
}

iframe {
    min-height: 375px;
}

@media screen and (min-width: 600px) {
    iframe {
        min-height: 600px;
    }
}

nav {
    background-color: #b54621;
    color: white;
    text-align: center;
}

a, a:hover {
    cursor: pointer !important;
}

h1 {
    font-family: "Psychedelia HM", serif;
    margin: 0;
    font-size: 72px;
    text-shadow: 2px 2px 4px #000;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}

main {
    flex: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a, .music-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: #666;
}

.show-list {
    list-style: none;
    padding: 0;
}

.show-list li {
    margin-bottom: 10px;
    border-left: 4px solid #b54621;
    padding-left: 10px;
}

.show-list li:has(a) {
    box-shadow: 0;
    transition: box-shadow 0.25s ease-in-out;
}

.show-list li:has(a):hover {
    box-shadow: #000 0 0 5px;
    transition: box-shadow 0.25s ease-in-out;
}

.show-list li:last-child {
    margin-bottom: 0;
}

.show-date {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    top: 100%;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: underline;
}

a, footer a:hover {
    color: #b54621;
    text-decoration: underline;
}

.audio-player-wrapper {
    border-radius: 7px;
    overflow: hidden;
}

.audio-player {
    width: 100%;
    min-height: 50px;
    background-color: #b54621;
    position: relative;
    display: flex;
}

.progress-bar-container {
    display: flex;
    width: 100%;
    height: 3px;
    background-color: #333;
    bottom: 0;
}

.progress-bar-container:hover {
    cursor: pointer;
}

.progress-bar-container::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
}

.progress-bar-container::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: white;
}

.progress-cursor {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.play-pause {
    background-color: transparent;
    border: none;
}

.play-pause--mobile {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-pause--mobile svg {
    stroke: white;
    width: auto !important;
    height: 300px !important;
    opacity: 0.75;
}

.play-pause svg {
    stroke: white;
    width: 30px;
    height: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}   

/* test */

.record-player {
    position: relative;
    background-color: #8B4513;
    box-shadow: #000 0 0 10px;
    border-radius: 4px;
    width: 400px;
    height: 400px;
}

.vinyl {
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #000 0 0 10px;
    animation: spin 5s linear infinite;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.vinyl::after {
    /* hole in middle */
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #000 0 0 10px;
}

.label {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #b54621;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #000 0 0 5px;
    font-size: 10px;
    /* contain text within */
    display: flex;
    justify-content: center;
}

.arm {
    position: absolute;
    width: 3px;
    height: 200px;
    /* matte silver chrome color */
    background-color: #C0C0C0;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    transform-origin: 0 0;
}

.album-sleeve {
    position: relative;
    transform: rotate(25deg);
    box-shadow: #000 0 0 10px;
}

.album-sleeve::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 150px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

