@font-face {
    font-family: "Psychedelia HM";
    src: url("Psychedelia HM.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

iframe {
    min-height: 375px;
}

@media screen and (min-width: 600px) {
    iframe {
        min-height: 600px;
    }
}

nav {
    background-color: #b54621;
    color: white;
    text-align: center;
}

a, a:hover {
    cursor: pointer !important;
}

h1 {
    font-family: "Psychedelia HM", serif;
    margin: 0;
    font-size: 72px;
    text-shadow: 2px 2px 4px #000;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}

main {
    flex: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a, .music-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: #666;
}

.show-list {
    list-style: none;
    padding: 0;
}

.show-list li {
    margin-bottom: 10px;
    border-left: 4px solid #b54621;
    padding-left: 10px;
}

.show-list li:last-child {
    margin-bottom: 0;
}

.show-date {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    top: 100%;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: underline;
}

a, footer a:hover {
    color: #b54621;
    text-decoration: underline;
}
